[submodule "app"]
	path = app
	url = https://github.com/togovar/togovar.git
[submodule "stanza"]
	path = stanza
	url = https://github.com/togovar/stanza.git
[submodule "sparqlist"]
	path = sparqlist
	url = https://github.com/togovar/sparqlist.git
[submodule "jbrowse"]
	path = jbrowse
	url = https://github.com/togovar/jbrowse.git
